<header class="title"><h1>Welcome to Trivia Questions</h1></header>
<router-outlet></router-outlet>
<footer>footer</footer>
















<!-- <h1 style="  display: flex;justify-content: center;"
>Welcome to Trivia Questions</h1>

 <button (click)="getData()">get data</button>
<button type="button" pButton label="get data" (click)="getData()"></button> -->



  <!-- <div *ngFor="let item of questions">
  {{getText(item.results[0].question)}} 
<br>
<br>
{{getText(item.results[0].incorrect_answers)}} 
</div> -->
<!-- <div *ngIf="correntQustion">
  <h1>שאלה</h1>
  {{getText(correntQustion.results[0].question)}} 

</div> -->
<!-- <br><br><br> -->

<!-- <div *ngIf="correntQustion">
  <h1>תשובות</h1>
  <div  *ngFor="let item of correntQustion.results[0].incorrect_answers">
  
  {{getText(item)}} 
</div>
</div>
<br><br><br> -->
<!-- <button (click)="next()">next</button> -->

<!-- {{ timer }} -->
<!-- [correntQustions]="correntQustion.results[0].question" -->

<!-- <app-answers *ngIf="correntQustion"
[possibleAnswers]="correntQustion.results[0].incorrect_answers"
[correntQustions]="correntQustion.results[0].question"
(selectedAnsewr)="setData($event)"
> -->
<!-- </app-answers>  -->

<!-- 
<div>
  <h5>{{oneQuestion}}</h5>
</div>
 
<app-ansers
[possibleAnswers]="possibleAnswers"
(selectedAnsewr)="setData($event)"
>
</app-ansers> 

 <div  *ngFor="let an of answers">
  <h1>{{ an.results[0]}}</h1>
</div> -->

 <!-- -->





