/* You can add global styles to this file, and also import other style files */
body{
    padding: 2rem;

}

.p-carousel-next, .p-carousel-prev{
    display: none !important;
}

.p-carousel-indicators{
    pointer-events: none;
}