
<div  class="wrapper">
    <!-- <div [ngClass]="{'wrapper': !isCorrectAnswer}"> -->
<p-card>
    <ng-template pTemplate="header">
        <div class="counter">{{counter}}</div>
    </ng-template>
    <h4 class="question"> <i>{{triviaQuestion.question}}</i></h4>
    <ng-template pTemplate="footer">
        <div class="answers">
            <div class="answer1" *ngFor="let answer of triviaQuestion.incorrect_answers; let i = index">
                <!-- <p (click)="answerSelected(answer)"> {{i+1 }}. {{  answer}}</p> -->
                 <button pButton type="button" class="p-button-danger" (click)="answerSelected(answer)"> {{i+1 }}. {{  answer}}</button> 

            </div>
        </div>
    </ng-template>
</p-card>
</div>


<!-- <div [ngClass]="{'CorrectAnswer': isCorrectAnswer}">ikliuklili</div> -->












<!-- <div class="wrapper">
    
    <p>trivia-slide works!</p>
    {{counter}}
    
    <h1>QUESTION:</h1>
    <pre>
        {{ triviaQuestion.question }}

    </pre>
    <div class="card">
        <div class="card-container">

            <div *ngFor="let answer of triviaQuestion.incorrect_answers">
                <div pRipple class="card" (click)="answerSelected(answer)">{{answer}}</div>
                 <p (click)="answerSelected(answer)">{{answer}}</p> -->
                
            <!-- </div>
        </div>
    </div> -->


<!-- </div>  --> 