.wrapper{
    // background-color: yellowgreen;
}
.counter{
    display: block;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: yellow;
    text-align:center;
    border-radius:50% ;
    width: 70px;
    height: 70px;
}

.question{
    text-align:center;
    font-size: 20px;
}

.answers{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    // .answer{
    //     border-radius: 7px;
    //     margin-bottom: 15px;
    //     width: 45%;
    //     border: 1px grey solid;
    //     height: 70px;
    //     background-color: red;
    //     color: #ffffff;
    //     text-align:center;
    // }
    .answer1{
        border-radius: 7px;
        margin-bottom: 15px;
        width: 35%;
        // border: 1px grey solid;
        height: 70px;
        // background-color: red;
        color: #ffffff;
        text-align:center;
        // width: 313px;
        // height: 68px;

        .p-button {
            width: 100%;
            height: 100%;
            text-align:center;
        }
    }

}
.CorrectAnswer{
    background-color: yellowgreen;
}

.p-ripple.purple .p-ink {
    background-color: yellow;
}